<div class="center-bloc">
  <datepicker [value]="date" (update)="onDateUpdate($event)"></datepicker>
  <pre class="date-show">
 <p class="no-padding no-margin"> La date est:  <span> {{ date }}</span></p>
</pre>
</div>