.date {
  z-index: 10000;
  width: 290px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  display: none;
  left: 0;
  cursor: pointer;
}
.date.isActive {
  display: block;
}
.month-container {
  background: #8cb8b8;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.week-container {
  display: grid;
  background: #ebf6ff;
  padding: 0 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.month {
  color: #fff;
}
.week {
  padding: 5px;
}
.day {
  width: 2.5em;
  padding: 0.625em 0;
  text-align: center;
}
.day-container {
  padding: 5px;
  background: #fff;
}
.day {
  padding: 5px;
}
.day:hover {
  background: #fafafa;
}
.day.isSelected {
  background: #0a95ff;
  color: #fff;
  max-width: 2;
  padding: 3px;
  border-radius: 50%;
  height: 32px;
}
.blue--dark {
  color: #00457a;
}

.Input  input {
  overflow: visible;
  border-radius: 5px;
  border: 1px solid #8cb8b8;
  outline: none;
}

span.actions {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.center-date {
  position: relative;
  top: 12px;
}
