<div class="Input">
  <input type="text" class="Input-field" [(ngModel)]="result" [ngClass]="{ 'ng-not-empty': result }"
    (click)="onShowCalendar($event)" (focus)="onShowCalendar($event)" />
  <div class="center-date">
    <div class="date" [ngClass]="{ isActive: showCalendar }">
      <div class="month-container Grid Grid--spaceBetween Grid--alignCenter u-paddingVertical-xs">
        <span class="actions" (click)="updateMonth($event, 'dec')">
          <</span>
            <div class="Grid">
              <span class="month">{{ months[month] }}</span>
              <span class="u-marginLeft-xs blue--dark">{{ year }}</span>
            </div>
            <span class="actions" (click)="updateMonth($event, 'inc')">></span>
      </div>
      <div class="week-container">
        <span class="week">Mon</span>
        <span class="week">Tue</span>
        <span class="week">Wed</span>
        <span class="week">Thu</span>
        <span class="week">Fri</span>
        <span class="week">Sat</span>
        <span class="week">Sun</span>

        <span class="day Btn--pointer" *ngFor="let day of days" [ngClass]="{ isSelected: day === date.getDate() }"
          (click)="selectDay(day)">
          {{ day }}
        </span>
      </div>
    </div>
  </div>
</div>