/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.center-bloc {
    display: flex;
    align-items: center;
    padding: 7rem 7rem;
}

.date-show {
    padding-top: 1rem;

    span {
        color: #00457a;
    }
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

